%ul.properties_list
  =stat_line(:quest_giver.l, quest_giver_name_link(quest))
  =stat_line('Sector', quest.sector_to_s)
  =stat_line('Level', quest.level.to_s)
  =stat_line('Rating', quest.rating.to_s)