tr.rowodd {
  background-color: white;
}

tr.roweven {
	background-color: #F1F1F1;
}
.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-image: url(/images/sortable/up.gif);
}
.sortdesc {
	background-image: url(/images/sortable/down.gif);
}
.nosort {
	cursor: default;
}