-if not logged_in?
  %ul.list.checks
    %li
      %a{:href=>signup_url, :title=>:sign_up_for_a_.l+" #{AppConfig.community_name} "+:account.l}=:sign_up_for_an_account.l
      %br
        %small
          =:have_an_account.l
          %a{:href=>login_url, :title=>:log_in_to_your.l+" #{AppConfig.community_name} "+:account.l}="&raquo; " + :login.l
